<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="report">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Nursing Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="narcotics" [class.tab-alert]="narcoticsAlert">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Narcotics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meds" [class.tab-alert]="medsAlert">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Meds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="special-circumstances" [class.tab-alert]="scAlert">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Special Circ.</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="export">
      <ion-icon name="share-outline"></ion-icon>
      <ion-label>Export / Sign</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
