<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img src="assets/images/condor-logo.svg" alt="Condor" class="header-logo">
    </ion-buttons>
    <ion-title>Export & Sign</ion-title>
    <ion-buttons slot="end">
      <span class="powered-by">Powered by Condor</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollY]="true" [scrollEvents]="true">
  <div class="container">
    <div class="signature-section">
      <h3>1st ICE Flight RN Signature</h3>
      <div class="signature-container">
        <canvas #canvas1 class="signature-pad"></canvas>
      </div>
      <div class="ion-margin-top ion-text-center">
        <button tuiButton appearance="secondary" size="m" type="button" (click)="clearSignature(1)">
          Clear
        </button>
      </div>
    </div>

    <hr class="section-divider ion-margin-vertical">

    <div class="signature-section">
      <h3>2nd ICE Flight RN Signature</h3>
      <div class="signature-container">
        <canvas #canvas2 class="signature-pad"></canvas>
      </div>
      <div class="ion-margin-top ion-text-center">
        <button tuiButton appearance="secondary" size="m" type="button" (click)="clearSignature(2)">
          Clear
        </button>
      </div>
    </div>

    <div class="ion-margin-top ion-text-center ion-padding-top">
      <button tuiButton appearance="primary" size="l" (click)="saveSignatures()" class="full-width" type="button">
        Save Signatures to Report
      </button>
    </div>

    <div class="ion-margin-top ion-padding-vertical">
      <button tuiButton appearance="secondary" size="l" class="full-width" (click)="generatePDF()" type="button">
        Generate PDF Report
      </button>
    </div>
  </div>
</ion-content>
