<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Export & Sign</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <div class="signature-section">
      <h3>1st ICE Flight RN Signature</h3>
      <div class="signature-container">
        <canvas #canvas1 class="signature-pad"></canvas>
      </div>
      <div class="ion-margin-top ion-text-center">
        <button mat-stroked-button color="warn" (click)="clearSignature(1)">
          <mat-icon>clear</mat-icon> Clear
        </button>
      </div>
    </div>

    <mat-divider class="ion-margin-vertical"></mat-divider>

    <div class="signature-section">
      <h3>2nd ICE Flight RN Signature</h3>
      <div class="signature-container">
        <canvas #canvas2 class="signature-pad"></canvas>
      </div>
      <div class="ion-margin-top ion-text-center">
        <button mat-stroked-button color="warn" (click)="clearSignature(2)">
          <mat-icon>clear</mat-icon> Clear
        </button>
      </div>
    </div>

    <div class="ion-margin-top ion-text-center ion-padding-top">
      <button mat-raised-button color="primary" (click)="saveSignatures()" class="full-width">
        <mat-icon>save</mat-icon> Save Signatures to Report
      </button>
    </div>

    <div class="ion-margin-top ion-padding-vertical">
      <button mat-raised-button color="accent" class="full-width" (click)="generatePDF()">
        <mat-icon>picture_as_pdf</mat-icon> Generate PDF Report
      </button>
    </div>
  </div>
</ion-content>
