<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Narcotics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <form [formGroup]="narcoticsForm">
      <h2 class="ion-text-center">Narcotics</h2>

      <div class="section-block">
        <div class="section-title">Narcotics</div>
        <div formArrayName="entries" class="narcotics-list">
          <div *ngFor="let entry of entries.controls; let i = index" [formGroupName]="i" class="narcotic-card">
            <div class="narcotic-card-header">
              <h4>Narcotic {{ i + 1 }}</h4>
              <button *ngIf="i > 0" tuiButton appearance="secondary" size="s" type="button" (click)="removeEntry(i)">
                Remove
              </button>
            </div>

            <ion-row>
              <ion-col size="12" size-sm="6" size-md="3">
                <tui-textfield class="full-width">
                  <input tuiTextfield formControlName="aNumber">
                  <label>A-Number</label>
                </tui-textfield>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="4">
                <tui-textfield class="full-width select-field" [class.field-alert]="narcoticsRequired && !hasAnyNarcoticSelection()">
                  <input tuiSelect formControlName="narcoticName">
                  <label>Narcotic</label>
                  <ng-template tuiDataList>
                    <tui-data-list-wrapper [items]="narcoticOptions"></tui-data-list-wrapper>
                  </ng-template>
                </tui-textfield>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="2">
                <tui-textfield class="full-width select-field">
                  <input tuiSelect formControlName="dose">
                  <label>Dose</label>
                  <ng-template tuiDataList>
                    <tui-data-list-wrapper [items]="doseOptions"></tui-data-list-wrapper>
                  </ng-template>
                </tui-textfield>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="3">
                <tui-textfield class="full-width select-field">
                  <input tuiSelect formControlName="dosageUnit">
                  <label>Dosage Unit</label>
                  <ng-template tuiDataList>
                    <tui-data-list-wrapper [items]="dosageUnits"></tui-data-list-wrapper>
                  </ng-template>
                </tui-textfield>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" size-sm="6" size-md="4">
                <div class="time-field">
                  <tui-textfield class="full-width">
                    <input tuiTextfield formControlName="timeZ" placeholder="HHMM" inputmode="numeric" maxlength="4" (focus)="stampEntryTimeOnFocus(i)" (blur)="handleEntryTimeBlur(i)">
                    <label>Time</label>
                    <span class="time-inline">
                      <button tuiButton size="s" appearance="secondary" type="button" (click)="stampEntryTime(i)">Now</button>
                      <button tuiButton size="s" appearance="secondary" type="button" (click)="openTimePicker(narcTimePicker)" aria-label="Open time picker">Pick</button>
                    </span>
                  </tui-textfield>
                  <input #narcTimePicker type="time" class="time-picker-input" (change)="applyEntryTimePicker($event, i)">
                  <div class="time-error" *ngIf="entries.at(i).get('timeZ')?.hasError('invalidTime') && entries.at(i).get('timeZ')?.touched">
                    Use HHMM (0000-2359).
                  </div>
                </div>
              </ion-col>

              <ion-col size="12" size-sm="6" size-md="4">
                <tui-textfield class="full-width select-field">
                  <input tuiSelect formControlName="rnName">
                  <label>RN</label>
                  <ng-template tuiDataList>
                    <tui-data-list-wrapper [items]="rnList"></tui-data-list-wrapper>
                  </ng-template>
                </tui-textfield>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <div class="signature-field">
                  <div class="signature-header">
                    <span>RN Signature</span>
                    <button tuiButton appearance="secondary" size="s" type="button" (click)="clearSignature(i)">Clear</button>
                  </div>
                  <div class="signature-canvas-wrap" [class.has-signature]="entry.get('rnSignature')?.value">
                    <canvas #rnSignatureCanvas class="signature-canvas"></canvas>
                    <div class="signature-hint">Sign here (finger or stylus)</div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div class="narcotics-actions">
          <button tuiButton appearance="primary" size="m" type="button" (click)="addEntry()">
            Add Narco
          </button>
        </div>
      </div>

      <div class="ion-margin-top ion-padding">
        <button tuiButton appearance="primary" size="l" class="full-width" type="button" (click)="saveNarcotics()">
          Save Narcotics
        </button>
      </div>
    </form>
  </div>
</ion-content>
